.App {
    font-family: sans-serif;
}

body {
    background: #bdc3c7;
    color: #fff;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

.selected {
    background: linear-gradient(to right, #74ebd5, #acb6e5) !important;
}

.options {
    padding: 8px;
    border: 2px solid #000;
    margin-left: 20px;
}
